<div>
    <% for( let i=0; i < resultado.length; i++) { %>
        <div class="uk-card uk-card-secondary uk-margin">
            <div class="uk-card uk-card-default uk-card-body"> Id: <%= resultado[i].id_usuario%></div>
            <div class="uk-card uk-card-default uk-card-body"> Fecha: <%= resultado[i].updatedAt%></div>
            <div class="uk-card uk-card-default uk-card-body"> Usuario: <%= resultado[i].nombre_de_usuario%></div>
            <div class="uk-card-badge uk-label uk-margin-bottom" style="color: white;"> Score: <%=
            resultado[i].puntaje %> </div>
            <div class="uk-card-body">
                <h4 class="uk-margin-top"> <%= resultado[i].resenia %> </h4>
            </div>
            <div class="uk-card-footer uk-flex uk-flex-between">
                <a class="uk-text-success" href="/usuario/reviews/edit/<%= resultado[i].id %>">Edit</a>
                <a class="uk-text-primary" href="/detalle?idPelicula= <%= resultado[i].id_pelicula %>">Go to Movie</a>
                <a class="uk-text-danger" href="/usuario/reviews/delete/<%= resultado[i].id %>">Delete</a>
    
            </div>
        </div>
    <% } %>
        </div>


         <!-- <% if (reseniaPelicula.length !=0) { %>
        <ul>
            <% for(let i= 0; i< reseniaPelicula.length; i++) { %>
                <li>
                    <p> <%= reseniaPelicula[i].text_res %> </p>
                    <p>Autor de reseña: <a href="usuario/buscador/<%=reseniaPelicula[i].usuario.id %>"> <%= reseniaPelicula[i].usuario.nombre_usuario %></a> </p>
                    <p>Fecha de ultima actualizacion: <%= reseniaPelicula[i].updatedAt %></p>
                    <p>Puntaje de la pelicula: <%= reseniaPelicula[i].puntaje %></p>
                </li>
                <% } %>
        </ul>
        <% } else { %> -->