<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Reseñas</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <br>
    <br>
    <br>

    <div style="text-align: center;" class="uk-container"> 
        <div class="uk-section uk-section-large">
            <!-- Si no hizo ninguna pelicula, le sale un mensaje avisandole-->
            <% if (resultado.length == 0) { %>
                <h1>Todavia no hiciste ninguna reseña...</h1>
                <a style=color:red href="/"> Volver a Home</a>
            <%} else { %>
            <!-- Si hizo reseñas, le aparecen-->
                <h1 class="uk-text-center"> Reseñas de <%= resultado[0].usuario.nombre_de_usuario %> </h1>

                <% for(let i=0; i < resultado.length; i++) { %>
                    <br>
                    <br>
                    <div style="background-color: turquoise;" class="uk-card uk-card-secondary uk-margin">
                        <div class="uk-carde-badge uk-label uk-margin-bottom" style="color: black;"> Puntaje: <%= resultado[i].puntaje_sobre_pelicula %></div>
                        <br>
                        <div class="uk-card-body">
                            <a style="color: black;" href="/detallePelicula?id=<%= resultado[i].id_pelicula %>" class="uk-margin-top ups"> Id Pelicula: <%= resultado[i].id_pelicula %> </a>
                            <h4 style="color: black;" class="uk-margin-top"> <%= resultado[i].texto_de_reseña %> </h4>
                        </div>
                        <div class="uk-card-footer uk-flex uk-flex-between">
                            <a style="background-color: black; color: white;" class="uk-text-success ups" href="/usuario/reviews/edit/<%= resultado[i].id%>">-Editar</a>
                            <br>
                            <a style="background-color: black; color: white;" class="uk-text-primary ups" href="/detallePelicula?id=<%= resultado[i].id_pelicula %>">-Ir a pelicula</a>
                            <br>
                            <a style="background-color: black; color: white;" class="uk-text-danger ups" href="/usuario/reviews/delete/<%= resultado[i].id %>"> -Borrar</a>
                        </div>
                    </div>

                <%}%>

            <%}%>
        </div>
    </div>
    <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    <footer>
        <div class="padre-footer">
        
          <div class="copyright">
              <h2 class="nombresDelFooter">Tommy Cohen</h2>
        
          </div>
          <div class="copyright">
            <h2 class="nombresDelFooter">Victoria Duque</h2>
          </div>
          <div class="copyright">
            <h2 class="nombresDelFooter">Delfina Orlansky</h2>
          </div>
        </div>
        
            </footer>
   
            
            
</body>

</html>